PyAudio
Speechrecognition
bs4
wikipedia
wolframalpha
Pygame
Pyttsx
Pillow
PyDictionary
soundcloud
watson-developer-cloud
pyglet
image
pyglet
pypiwin32
tkinter
requests
facepy
tweepy
nltk
bs4
pafy
twitter
chatterbot
google
pocketsphinx
facepy
pyautogui